#logo{
	margin-top: 5%;
    width: 100%;
}

#img-profile {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-top: 30px;
}

.carousel-inner{
    height: 400px;
}

.carousel-inner p,h5{
    color: #48DA9B;
}

.carousel-caption{
    background-color: #383838a2;
}

img {
    width: 100%;
}

#icon {
    width: 5%;
}

.clear {
	clear: both;
}

.td{
    color: white;
}

.linkMenu {
    margin-bottom: 0%;
	color: #48DA9B;
}

a:link:hover{
	text-decoration: none;
}

.block {
	margin: 25px 30px;
}

.last.block {
	margin-bottom: 110px;
}

.horizontal_list li {
	float: left;
}
    
.horizontal_list li:before {
	content: none;
}

.horizontal_line{
	margin: 34px 0 0 30px;
	height: 26px;
	position: relative;	
}

.line_left,
.line_right{
	border-top: 1px solid #434247;
	width: 46%;
	margin-top: 13px;
}

.line_left{
	float: left;
}

.line_right {
	float: right;
}
    
.left_circle, 
.central_circle, 
.right_circle {
	margin-left: 6.5%;
	background: rgb(69,68,73);
	background: rgba(255,255,255, 0.15);
	position: absolute;
	border-radius: 50px;
}

.left_circle, 
.right_circle {
	width: 13px;
	height: 13px;
	top: 7px;
}

.left_circle{
	left: 41%;
}
    
.central_circle{
	width: 26px;
	height: 26px;
	top: 0px;
	left: 322px;
	}
    
.right_circle{
	left: 44.4%;
}

body {
	background: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/dark_wall.png) repeat;
}

h1,h2,h3, h4 {
	color: #48DA9B;
}
	
.profileText{
color: white;
font-size: 25px;
}

p , a, li {
	color: #e4e3e8;
}

ul {
    list-style: none;
}

li:before {
	content: "• ";
	color: #837c9a;
}

.container {
	width: 960px;
	margin: 0 auto;
}

#header {
	height: 130px;
	border-bottom: 1px solid #403F44;
}
		.header_logotype_container {
			width: 23.6%;
			height: 130px;
			border-right: 1px solid #403F44;
			float: left;
		}
		.header_menu_container {
			float: left;
		}

	#left_col {
		width: 23.6%;
		float: left;
	}
	#content_container {
		width: 800px;
		border-left: 1px solid #403F44;
		float: left;
	}
		
.header_menu {
	width: 100%;
	margin-top: 25%;
	margin-left: 150%;
}
	.header_menu a{
		text-decoration: none;
		padding: 0 20px;
		border-left: 1px solid #e4e3e8;
	}
	.header_menu a.no_border{
		border-left: none;
	}
		.header_menu a:hover {
            color: #48DA9B;
            text-decoration: none;
		}

		.fa {
			margin-bottom: 10%;
			margin-left: 2%;
			padding: 5%;
			width: 15%;
			height: 15%;
			text-align: center;
			text-decoration: none;
			border-radius: 50%;
		  }

		  .fa:hover {
			color: white;
			opacity: 0.7;
		}

		.fa-facebook {
			background: #3B5998;
			color: white;
		  }

		  .fa-twitter {
			background: #55ACEE;
			color: white;
		  }

		  .fa-github{
			background: #444444;
			color: white;
		  }

th,
td {
	color: white;
}

#normalFont{
	color: white;
}

#space{
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 5%;
}

li a{
	color: white;
}

